<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/doceLeiteTablete.jpg" />
    <ion-card-header>
      <ion-card-title>Doce de Leite Mineiro em Tabletes SOH MINAS</ion-card-title>
      <ion-card-subtitle>200g</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>Fondant de leite Soh Minas 200g


        O Fondant de leite em tabletes SOH MINAS é um docinho de leite com sabor irresistível e que desmancha na boca. Típico da culinária mineira, e de costume comer um pedaço todos os dias depois das refeições. Simplesmente delicioso. 
        
        Peso líquido: 200g cada
        Conservação: Manter em local seco e arejado.
        
        NÃO CONTÉM GLÚTEN.
        
        Alérgicos: Contém leite. Contém lactose.
      </Fieldset>
    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>67R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/DoceLeite.webp" />
    <ion-card-header>
      <ion-card-title>Doce de Leite Rocca Tradicional</ion-card-title>
      <ion-card-subtitle>450g</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
      Doce de Leite Rocca  450gr
Resgatamos a receita original: LEITE & AÇÚCAR.

Passamos por um longo processo de cozimento, o que dá o aspecto de um doce mais escuro. Utilizamos apenas 16% de adição de açúcar, o que dá maior suavidade no produto.

Aqui tudo é feito com cuidado e amor. Apaixone-se pela Rocca!

É um autêntico doce de leite mineiro, feito direto na fazenda. Tem a grande vantagem da produção ser mais caseira, em menor escala, com um impecável controle de qualidade de perto. São apenas três ingredientes na versão tradicional, ou seja, nenhum conservante, amido, ou outros aditivos químicos.

 

PRODUTO ARTESANAL: Por se tratar de um produto completamente ARTESANAL pode ocorrer uma pequena variação no peso do produto. Cada UNIDADE  tem aproximadamente 450g. 
    </Fieldset>
    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>45R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/goiabada.jpg" />
    <ion-card-header>
      <ion-card-title>GOIABADA EM BARRA ARTESANAL SOH MINAS</ion-card-title>
      <ion-card-subtitle>300g</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Goiabada Artesanal em Barra

        A Goiabada é ideal para ser servida como sobremesa ou acompanhar um bom queijo canastra meia cura.
        
        A Goiabada Soh Minas é um produto artesanal produzida com frutas selecionadas na cidade de Formiga em MG, garantindo assim a melhor qualidade da goiabada.
        
        Peso líquido: 300g cada
        Vencimento: 6 meses
        Ingredientes :Açúcar e Goiaba
        Feita de forma caseira e com açúcar na medida.
        
        Você vai amar esta goiabada super saborosa e textura macia de corte


      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>30R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/queijoMinas.webp" />
    <ion-card-header>
      <ion-card-title>Queijo Minas Padrão</ion-card-title>
      <ion-card-subtitle>400g</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Queijo Minas Padrão 400g - Formato Metade
 
 
O clássico queijo mineiro, amado no Brasil inteiro por seu sabor, versatilidade e gostinho da roça! Um dos queijos mais vendidos e apreciados, o Queijo Minas Padrão está sempre presente naquele café da manhã ou da tarde, acompanhado de um cafézinho ou até mesmo de um doce. Mas esse queijo não fica para trás quando o assunto é receitas, já que é um queijo maravilhoso para comer em sanduíches, receitas ou até mesmo frito. 

      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>110R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/queijoColonial.jpeg" />
    <ion-card-header>
      <ion-card-title>Queijo Colonial Top da Região da Serra da Canastra</ion-card-title>
      <ion-card-subtitle>600g</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Queijo Colonial da Serra da Canastra 600g 
 
        Se você é do tipo que valoriza o que é feito com carinho e tradição, vai adorar nossos Queijos produzidos na região da Serra da Canastra. Produzido de forma artesanal, cada pedaço carrega a essência e o sabor inconfundíveis da região. Isso mesmo, aqui a gente respeita o tempo e o jeito mineiro de fazer, garantindo uma experiência única em cada mordida.

        E pra manter todo esse sabor e frescor, nosso queijo vem em uma embalagem à vácuo prática e segura. Assim, você pode curtir essa delícia por mais tempo, com a mesma qualidade de quando saiu da fazenda.
        
      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>80R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/araxá.webp" />
    <ion-card-header>
      <ion-card-title>Queijo canastra araxá</ion-card-title>
      <ion-card-subtitle>1300g</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Queijo canastra araxá 1300g 
 
        Um clássico queijo minas meia cura. Equilibrado, saboroso e ótimo para o dia a dia. Possui textura macia e sabor suave e delicado.
Sua maturação varia de 20 a 30 dias.

Foi por 7 vezes considerado o melhor queijo da região do Araxá. Em 2009, foi também considerado o melhor queijo de Minas Gerais.
      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>50R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/vinhoMin.webp" />
    <ion-card-header>
      <ion-card-title> Sacramentos Sabina Syrah</ion-card-title>
      <ion-card-subtitle>750ml</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
         Sacramentos Sabina Syrah 750ml 
 
         Detentor também do prêmio de Melhor Vinho do Sudeste pelo Guia Adega em 2024, Sabina Syrah é um tinto fermentado com 60% de cachos inteiros e envelhecido em foudres durante cerca de 4 meses. Encanta pelos aromas de frutas vermelhas frescas, notas florais e especiarias, como pimenta preta.
      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>250R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/licorDoce.webp" />
    <ion-card-header>
      <ion-card-title> Licor de Doce de Leite Jhon</ion-card-title>
      <ion-card-subtitle>500ml</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
         Licor de Doce de Leite Jhon 500ml 
 
         é um licor de doce de leite delicioso e extremamente cremoso. O doce de leite DOM deu vida ao licor de doce de leite Jhon e nos presenteou com uma bebida maravilhosa. Com teor alcoólico de 13%, o licor Jhon é feito com o puro doce de leite do Campo das Vertentes, com leite integral da ordenha das manhãs.
      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>70R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/vinhoFino.webp" />
    <ion-card-header>
      <ion-card-title> Vinho Fino Cabernet Franc</ion-card-title>
      <ion-card-subtitle>750ml</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Vinho Fino Cabernet Franc 750ml 
 
        Prepare-se para saborear um vinho que é pura elegância! O Vinho Fino Cabernet Franc Luiz Porto é uma verdadeira joia das vinícolas brasileiras, perfeito para momentos especiais ou aquele jantar inesquecível. Com um aroma frutado e notas de especiarias, esse Cabernet Franc encanta desde o primeiro gole.

        Sua textura aveludada e taninos suaves fazem dele uma opção ideal para harmonizar com carnes vermelhas, queijos curados ou simplesmente para ser apreciado sozinho. Não perca a chance de experimentar essa obra-prima!
      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
    <p>130R$</p>
    <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-footer class="footer-personalizado">
    <ion-toolbar>
      <ion-title size="small">
        🔮 Relicário do Mago | Usuário: {{ usuario }}
      </ion-title>
    </ion-toolbar>
  </ion-footer>
  
</ion-content>
