.btnComprar ion-item {
    display: flex;
    justify-content: space-between;  
    align-items: center;              
    padding: 0 16px;
    --inner-padding-end: 0;            
    --inner-padding-start: 0;
  }
  
  .btnComprar p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #2d7a35;
  }
  
  .btnComprar ion-button {
    margin-left: auto;                          
  }
  
 
.alert-custom {
    --background: #1e1e2f;           
    --backdrop-opacity: 0.8;       
    --color: #ffffff;                
  
   
    --button-color: #4caf50;        
    --button-background: transparent;
    --button-border-color: transparent;
 
    --title-color: #4caf50;          
    --message-color: #cccccc;        
  }

  .footer-personalizado {
    ion-toolbar {
      --background: #3b0e3b;
      --color: #ffffff;
      text-align: center;
    }
  }