<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/PoçãoProtec.webp" />
    <ion-card-header>
      <ion-card-title>Poção Proteção Cósmica</ion-card-title>
      <ion-card-subtitle>500ml</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Em noites enluaradas, sob o olhar atento dos astros, esta poção sela um pacto com os guardiões estelares. 
        Agita-la é invocar o véu protetor do cosmos, afastando toda energia sombria que ousar cruzar teu caminho.
         Leva contigo o poder das constelações, para que caminhes seguro entre os reinos visível e invisível.
      </Fieldset>
    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>9.390R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/Poção Lágrimas.webp" />
    <ion-card-header>
      <ion-card-title>Poção Lágrimas de Sereia</ion-card-title>
      <ion-card-subtitle>600ml</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Diz-se que as sereias vertem estas lágrimas ao cantar para as estrelas. 
        Guardadas em frascos encantados, trazem a serenidade das profundezas e a força das marés. 
        Uma gota basta para acalmar o espírito e abrir os olhos da alma para os segredos do oceano. 
        Ideal para viajantes do mar ou corações em tempestade.
    </Fieldset>
    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>3.340R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/Poção Sangue de Unicórnio.webp" />
    <ion-card-header>
      <ion-card-title>Poção Sangue de Unicórnio</ion-card-title>
      <ion-card-subtitle>750ml</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Rara e de origem ancestral, esta essência carrega a sangue e a força de um ser mítico.
         Ao agitá-la, libera uma centelha do poder celestial dos unicórnios, elevando o espírito, curando feridas ocultas e trazendo inspiração divina.
         

      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>58.910R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/Poção Sorte Líquida.webp" />
    <ion-card-header>
      <ion-card-title>Poção Sorte Líquida</ion-card-title>
      <ion-card-subtitle>500mlg</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Para os dias em que o destino parece brincar contigo, esta poção desperta os ventos da fortuna.
         Um simples gole e sentirás a maré da sorte mudar, os dados rolarem a teu favor e os caminhos se abrirem onde antes havia muros.
          Feita para guerreiros audazes, mercadores astutos e magos ousados.
      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>7.777R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/ordemP.jpg" />
    <ion-card-header>
      <ion-card-title>Grimório da Ordem Pétrea</ion-card-title>
      <ion-card-subtitle>425 folhas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Compêndio inspirado em antigas ordens alquímicas, este grimório reúne diagramas de círculos mágicos, selos de proteção e estudos sobre os quatro elementos. 
        Ideal para praticantes de alquimia, magia cerimonial ou interessados em simbologia rúnica, ele traz conteúdos voltados à construção de talismãs,
         proteção energética e harmonização de ambientes.
      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>1.890R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/grimorioCadeado.jpg" />
    <ion-card-header>
      <ion-card-title>Grimório Encadeado</ion-card-title>
      <ion-card-subtitle>400 folhas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Este grimório, com acabamento em couro e fechos de metal, é perfeito para quem busca privacidade em seus estudos mágicos.
         Contém seções para registros de rituais, meditações e invocações, além de instruções básicas sobre a formação de círculos mágicos, proteção espiritual e banimentos.
          Um item essencial para qualquer praticante sério da Arte.
      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>4.500R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/Necronomicon.jpg" />
    <ion-card-header>
      <ion-card-title> Necronomicon</ion-card-title>
      <ion-card-subtitle>387 folhas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Uma reprodução moderna inspirada nos relatos do famoso Necronomicon.
        Embora não contenha feitiços para invocar entidades sombrias, apresenta uma coletânea de textos sobre necromancia histórica,
         simbologia da morte em diferentes culturas, práticas de ancestralidade e conexão com o mundo espiritual. Ideal para estudiosos do ocultismo e da simbologia esotérica.

        </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>33.666R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/CajadoM.jpg" />
    <ion-card-header>
      <ion-card-title> Cajado Ambar</ion-card-title>
      <ion-card-subtitle>1,50m</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Um cajado robusto feito de madeira de carvalho, com um orbe dourado preso por galhos entrelaçados. 
        Ideal para praticantes de magia cerimonial e rituais de proteção, canalizando energia com firmeza e estabilidade. 
        O orbe pode ser utilizado para amplificar intenções ou como foco meditativo.
        </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
      <p>3.600R$</p>
      <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/CajadoA.jpg" />
    <ion-card-header>
      <ion-card-title> Cajado da Safira</ion-card-title>
      <ion-card-subtitle>1,40m</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Este cajado artesanal possui um cristal azul incrustado em raízes torcidas de madeira, evocando as forças dos elementos água e ar. 
        Excelente para magos que trabalham com energia fluida, cura, intuição e comunicação. 
        Perfeito para círculos de energia e rituais ao ar livre.

      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
    <p>4.350R$</p>
    <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/VarinhaO.jpg" />
    <ion-card-header>
      <ion-card-title> Varinha Rubra do Conjurador</ion-card-title>
      <ion-card-subtitle>35cm</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Uma varinha robusta, com uma esfera vermelha de resina na ponta, esculpida para canalizar energias intensas e direcionar feitiços de proteção, fogo ou vigor. 
        Ideal para conjuradores que lidam com magias de ação direta ou fortalecimento pessoal.

      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
    <p>1.150R$</p>
    <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/VarinhaP.jpg" />
    <ion-card-header>
      <ion-card-title> Varinha da Sombra Espectral</ion-card-title>
      <ion-card-subtitle>28cm</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <Fieldset>
        Elegante e refinada, feita de madeira escura com detalhes metálicos na base.
         Leve e ágil, esta varinha é recomendada para feitiços de precisão, banimentos e manipulação de energias sutis. 
         A escolha perfeita para magos que preferem discrição e eficácia.


      </Fieldset>

    </ion-card-content>
    <div class="btnComprar">
    <ion-item lines="none">
    <p>1.350R$</p>
    <ion-button color="success" (click)="comprar()">Comprar</ion-button>
  </ion-item>
</div>
  </ion-card>

  <ion-footer class="footer-personalizado">
    <ion-toolbar>
      <ion-title size="small">
        🔮 Relicário do Mago | Usuário: {{ usuario }}
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
