
.footer-personalizado {
    position: fixed;        
    bottom: 0;             
    left: 0;
    width: 100%;            
    z-index: 10;            
  
    ion-toolbar {
      --background: #3b0e3b;  
      --color: #ffffff;       
      text-align: center;
    }
  }