<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Empório do Mago
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="logo-card">
  <div class="logo-img">
  <img src="../../assets/img/magoLogo.png" width="450px" height="300px" size="full"> 
  </div>
</ion-card>
<ion-card>
  <h3>A Magia Dos Sabores No Seu Paladar</h3>
  <ion-list>
    <ion-item *ngFor="let itens of item2" (click)="irParaPagina(itens.url)">
      <ion-label>{{ itens.nome }}</ion-label>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
