<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let cliente of clientes">
      <!-- Avatar -->
      <ion-avatar slot="start">
        <img [src]="cliente.foto" alt="Foto do cliente">
      </ion-avatar>

      <!-- Informações -->
      <ion-label>
        <h2>{{ cliente.nome }}</h2>
        
        <!-- Estrelas douradas -->
        <div class="estrelas">
          <ion-icon *ngFor="let star of [1,2,3,4,5]" 
                    [name]="star <= cliente.feedback.estrelas ? 'star' : 'star-outline'">
          </ion-icon>
        </div>

        <!-- Feedback -->
        <p>{{ cliente.feedback.comentario }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer class="footer-personalizado">
    <ion-toolbar>
      <ion-title size="small">
        🔮 Relicário do Mago | Usuário: {{ usuario }}
      </ion-title>
    </ion-toolbar>
  </ion-footer>
  
</ion-content>
