/* Estilos para a página Cliente */
.estrelas ion-icon {
    color: gold;       /* Cor dourada nas estrelas preenchidas */
    font-size: 1.2em;  /* Tamanho das estrelas */
  }
  
  .footer-personalizado {
    ion-toolbar {
      --background: #3b0e3b;
      --color: #ffffff;
      text-align: center;
    }
  }